.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #333;
    padding: 30px;
    margin-left: 17%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover{
    color: #0073b1;
    text-decoration: underline;
}

.name {
    font-size: 2.5em;
    font-weight: bold;
    color: #333;
}

.location {
    font-size: 1em;
    color: #666;
    margin-top: -20px;
}

.description {
    font-size: 1em;
    margin-top: 0px;
    max-width: 600px;
    color: #555;
    line-height: 1.5;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

.icon {
    font-size: 2.5em;
    color: #333;
    transition: color 0.3s;
}

.icon:hover {
    color: #0073b1; 
}


.opening-text{
    font-size: x-large;
    color: #2E343B;
}

.card {
    border: 1px solid #ccc; 
    border-radius: 8px; 
    padding: 10px; 
    text-align: center; 
    margin: 0px auto;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1); 
    transition: box-shadow 0.3s ease; 
}

.card:hover {
    box-shadow: 0 16px 48px rgba(0, 0, 0, 0.2); 
}

.image-container {
    display: flex; 
    justify-content: center; 
    gap: 10px; 
}

.image {
    width: 200px; 
    height: auto; 
    cursor: pointer; 
    border-radius: 4px; 
}

.image:hover {
    opacity: 0.8; 
}
.modal {
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.8); 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.modal-image {
    max-width: 90%; 
    max-height: 90%; 
}

.close {
    position: absolute; 
    top: 20px; 
    right: 30px; 
    color: white; 
    font-size: 30px; 
    cursor: pointer; 
}

.image-card{
    display: flex;
    margin-top: 10px;
}