.App {
  width: 100vw;
  height: 100vh;
  display: flex;
}

body{
  margin: 0;
  padding: 0;
}

.Sidebar{
  height: 100%;
  width: 250px;
  background-color:rgb(48, 55, 68) ;
}

.SidebarList{
  height: auto;
  padding: 0;
  width: 100%;
}

.SidebarList .row{
  list-style-type: none;
  width: 100%;
  height: 50px;
  margin: 0%;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 5px;
  transition: background-color 0.3s ease;
}

.SidebarList .row:hover{
  cursor: pointer;
  background-color:rgb(31, 39, 56) ;
}

.SidebarList #active{
  background-color:rgb(31, 39, 56) ;
}

.row #title{
  flex: 70%;
}

.row #icon{
  flex: 30%;
  display: grid;
  place-items: center;
}

.profile-picture {
  text-align: center; 
  margin-bottom: 20px; 
}

.profile-picture img {
  margin-top: 30px;
  width: 200px;
  border-radius: 10%; 
  object-fit: cover; 
}

